.git
.github
.pytest_cache
__pycache__
*.pyc

data
logs
outputs
paper
runs
tests
wandb

work/**
!work/submission_model_base/
!work/submission_model_base/**

*.nii
*.nii.gz
*.npy
*.npz
*.tar
*.tar.gz
*.zip
